img {
  display: block;
  max-width: 100%;
  height: auto;
}

.post {
  padding-top: 100px;
  padding-right: 50px;
  padding-bottom: 70px;
  padding-left: 60px;

  max-width: 400px;
  background-color: #fff;
  border: 2px dashed #2a2a2a;
}

.post-thumb {
  margin-bottom: 30px;
  border: 2px dashed tomato;
}

.post-heading {
  margin-top: 0;
  margin-bottom: 20px;

  border: 2px dashed teal;
}

.post-text {
  margin-bottom: 0;
  margin-top: 0;

  border: 2px dashed blue;
}

/* Vertical Margin Collapse */
.box {
  width: 200px;
  height: 100px;
}

.bottom {
  margin-bottom: 20px;
  background-color: teal;
}

.top {
  margin-top: 40px;
  background-color: palevioletred;
}

/* Vertical margin of a nested box - Higher within parent and child */

.outer-box {
  width: 200px;
  height: 200px;
  background-color: red;
}

.inner-box {
  width: 100px;
  height: 100px;
  margin-top: 60px;
  background-color: yellow;
}
